# Task 4 - Dictionaries, Lists and data manipulation

In this part we explore another fundamental data structure in python, called Dictionaries.

### 4.1: Create a dictionary that has 3 keys: name, age and salary, and enter in the following dummy information.

#### Sample output
> {'name': 'Tim Cook', 'age': 59, 'salary': 3000000.0}

In [2]:
#Your Solution Here

dict = {
    "name": "Tim Cook" ,
    "age": "59" ,
    "salary": 3000000.0
}

print(dict)

{'name': 'Tim Cook', 'age': '59', 'salary': 3000000.0}

### 4.2: Create a second dictionary, this time with at least 5 different names, ages, and salaries.

*Hint: There should only be three keys, and the values should be a list.*

#### Sample Output

> {'name': ['Tim Cook', 'Person 2', 'Person 3'],
> 'age': [59, 24, 40],
> 'salary': [30000000.0, 200000.0, 900000.0]}

In [5]:
#Your Solution Here

dict2 = {
    "name": ["Tim Cook","Person 2", "Person 3", "Person 4", "Person 5"] ,
    "age" : ["59","24","40","12","33"] ,
    "salary":[3000000.0,200000.0,900000.0,12.32,143.2]
}

print(dict2)

{'name': ['Tim Cook', 'Person 2', 'Person 3', 'Person 4', 'Person 5'], 'age': ['59', '24', '40', '12', '33'], 'salary': [3000000.0, 200000.0, 900000.0, 12.32, 143.2]}

### 4.3: Create a pandas dataframe using the dictionary you created above

**Hint: Use the `pd.DataFrame.from_dict()` method**

#### Sample output
![](images/df.png)

In [7]:
#Your Solution Here
import pandas as pd
df = pd.DataFrame.from_dict(dict2)
df

       name age      salary
0  Tim Cook  59  3000000.00
1  Person 2  24   200000.00
2  Person 3  40   900000.00
3  Person 4  12       12.32
4  Person 5  33      143.20

### 4.4: Rename all three columns of the dataframe

*Hint: you should use the pandas function [rename()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) to accomplish this. You can rename it to whatever you like, just show us you are able to use this function*

In [11]:
# Your Solution Here

df = df.rename(columns={'name':'Name', 'age':'Age', 'salary':'Salary'})
df

       Name Age      Salary
0  Tim Cook  59  3000000.00
1  Person 2  24   200000.00
2  Person 3  40   900000.00
3  Person 4  12       12.32
4  Person 5  33      143.20